/* messageboard.css */
/* #messageHead {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
} */

.header-image {
    position: relative;
    text-align: center;
    background-image: url('/img/trees.jpg');
    background-size: cover;
    background-position: center;
    height: 250px; /* Adjust as needed */
    box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.7);
    padding: 0;
    margin: 0;
}

#messageHead {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Change as needed for contrast */
    font-size: 2.5em; /* Adjust size as necessary */
    margin: 0;
}

#messageModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    z-index: 1000;
}

.modal-content h2 {
    margin-top: 0;
}

#openModalBtn {
    display: block;
    margin: 10px auto;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#openModalBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.header-image {
    text-align: center;
    margin-bottom: 20px;
}

.header-img {
    width: 100%;
    max-height: 250px; /* Adjust as needed */
    object-fit: cover; /* Ensures the image covers the space without distortion */
    display: block; /* no gaps */
    margin: 0 auto; /* Center horizontally */
}

.message-box {
    border: 1px solid #ccc; /* Light gray border */
    border-radius: 8px; /* Rounded corners */
    padding: 15px; /* Space inside the box */
    margin-bottom: 15px; /* Space between boxes */
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    background-color: #eee; /* Light background color */
}

.replies-container {
    position: relative;
}

.replies {
    margin-left: 2em; /* Indent the replies */ 
    position: relative;
}

.message::before {
    content: "";
    position: absolute;
    left: -2em; /* Position the "L" line */
    top: 2.5em; /* Adjust to align with the start of the message */
    width: 2em; /* Horizontal line length */
    height: 2px; /* Line thickness */
    background-color: #ccc;
}

.replies::before {
    content: "";
    position: absolute;
    left: -2em;
    top: 1em; /* Adjust this value to match the message content */
    width: 2px; /* Vertical line thickness */
    height: calc(100% - 2.5em); /* Extend to the height of the replies */
    background-color: #ccc;
}




/* Routes CSS */

.routes-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px;
}

.routes-button:hover {
    background-color: #0056b3;
}

.routes-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.filter-buttons{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#loginPage {
    background-image: url('/img/valley.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#loginForm {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* max-width: 600px; */
    width: 40%;
}









