<form method="POST" action="/add-route">
  <label>Route Name:</label>
  <input type="text" name="routeName" required><br>
  
  <label>Grade:</label>
  <input type="text" name="grade" required><br>
  
  <label>Safety:</label>
  <input type="text" name="safety" required><br>
  
  <label>Sport:</label>
  <input type="checkbox" name="sport"><br>
  <label>Trad:</label>
  <input type="checkbox" name="trad"><br>
  <label>Toprope:</label>
  <input type="checkbox" name="toprope"><br>
  <label>Boulder:</label>
  <input type="checkbox" name="boulder"><br>
  <label>Snow:</label>
  <input type="checkbox" name="snow"><br>
  <label>Alpine:</label>
  <input type="checkbox" name="alpine"><br>
  
  <label>Description:</label>
  <textarea name="description"></textarea><br>
  
  <label>Location:</label>
  <input type="text" name="location"><br>
  
  <label>Area Latitude:</label>
  <input type="number" step="0.000001" name="areaLatitude"><br>
  
  <label>Area Longitude:</label>
  <input type="number" step="0.000001" name="areaLongitude"><br>
  
  <label>Area Name:</label>
  <input type="text" name="areaName"><br>
  
  <label>First Ascent:</label>
  <input type="text" name="firstAscent"><br>
  
  <button type="submit">Add Route</button>
</form>
