<div style="background-image: url('../../resources/img/background.jpg'); background-size: cover; background-position: center; height: 100vh; display: flex; align-items: center; justify-content: center; color: white; text-align: center;">
    <div style="padding: 20px;">
        <h1 style="font-size: 3vw;">Helping Boulder climbers form a community since 2024</h1>
        <p style="font-size: 1.5vw;">Discovering new climbs, ratings routes, finding climbing partners, and more!</p>
    </div>
</div>
